<div id="<%= dom_id trip %>">
  <p>
    <strong>Destination:</strong>
    <%= trip.destination %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip.description %>
  </p>

  <p>
    <strong>Date debut:</strong>
    <%= trip.date_debut %>
  </p>

  <p>
    <strong>Date fin:</strong>
    <%= trip.date_fin %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

  <p>
    <strong>Nom d'utilisateur :</strong>
    <%= trip.user.nom %>
  </p>

  <p>
    <strong>Email utilisateur :</strong>
    <%= trip.user.email %>
  </p>

</div>
