<%= stylesheet_link_tag 'index' %>
<section class="index-container">
  <p style="color: green"><%= notice %></p>

  <h1 class="index-title">Utilisateurs</h1>

  <div id="users">
    <% @users.each do |user| %>
      <div class="item">
        <%= render user %>
        <p class="show-link">
          <%= link_to "Voir l'utilisateur", user %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="redirect-container">
    <%= link_to "Nouvelle utilisateur", new_user_path, class: "new-link" %>
    <%= link_to "Retourner à l'accueil", root_path, class: "home-link" %>
  </div>
</section>